@{
    ViewBag.Title = "About";
}
<head>
    <link href="~/Content/CustomCSS.css" rel="stylesheet" />
</head>
<h2>Our Purpose</h2>

<p style="text-indent: 40px">
    Our purpose with this website is to allow newly called missionaries of the Church of Jesus Christ of Latter Day Saints to gain more understanding and information on the place they will be serving.
    Missionaries that have previously served in these areas can answer questions or concerns that others may have about their mission.
    We want to provide a way to connect all missionaries together in one place and one purpose through this website.
</p>
<p style="text-indent: 40px">
    On the contact page you can leave us feedback on how we are doing and what we can do better. If you encounter trouble or feel like we can do better, be sure to navigate there and leave us your ideas.
</p>
<img src="~/Content/Images/MTC.jpg" id="borderimg">


