@{
    ViewBag.Title = "Contact";
}

<head>
    <link href="~/Content/CustomCSS.css" rel="stylesheet" />
</head>

<body>

    <h3>Contact Us</h3>

    <div class="container" id="ContactForm">
        <form action="">
            <label for="fname">Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Brigham Young">
            <br />
            <label for="lname">Email</label>
            <input type="text" id="lname" name="lastname" placeholder="example@gmail.com">
            <br />
            <label for="subject">Subject</label>
            <select id="subject" name="subject">
                <option value="" disabled selected>Select your subject</option>
                <option value="positive">Compliments to the developers</option>
                <option value="navigationProbs">Navigation trouble</option>
                <option value="incorrectInfo">Incorrect information</option>
            </select>
            <br />
            <label for="moreInfo">Tell us about it</label><br />
            <textarea id="moreInfo" name="moreInfo" placeholder="Write something.." style="height:200px"></textarea>
            <br />
            <input type="submit" value="Submit" )>
        </form>
    </div>

</body>
<br />
<h4><b>Mission: Possible</b> Address:</h4>
<address>
    Service Blvd<br />
    Provo, Utah 84604<br />
    <abbr title="Phone">P:</abbr>
    801.867.5309
</address>

<h5>Email us at <email>help@missionpossible.org</email></h5>

<address>
    <strong>Support:</strong>   <a href="https://lds.org">lds.org</a><br />
</address>
