@{
    ViewBag.Title = "Home Page";
}


<link href="~/Content/CustomCSS.css" rel="stylesheet" />

<div class="jumbotron">
    <h1 class="text-center">Mission: Possible</h1>
    <p class="lead text-center">Connect with and learn more about your mission.</p>
    <p class="text-center"><a href="" class="btn btn-primary btn-lg">Learn More Now!!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Mission Network</h2>
        <p id="borderimg"><a href=""><img src="~/Content/Images/mNetwork.gif" height="270" width="360"></a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Mission Grooming</h2>
        <p id="borderimg"><a href=""><img src="~/Content/Images/mGroom.jpg" height="270" width="360"></a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Mission Videos</h2>
        <p id="borderimg"><a href=""><img src="~/Content/Images/mVid.jpg" height="270" width="360"></a></p>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Mission Rules</h2>
        <p id="borderimg"><a href=""><img src="~/Content/Images/mRule.jpg" height="270" width="360"></a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Why to Serve</h2>
        <p id="borderimg"><a href=""><img src="~/Content/Images/mWhy.jpg" height="270" width="360"></a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">How to prepare</h2>
        <p id="borderimg"><a href=""><img src="~/Content/Images/mPrep.jpg" height="270" width="360"></a></p>
    </div>
</div>